body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin-top: 50px;
  font-family: 'Great Vibes', cursive;
  color:#11999E;
  margin-bottom:10px;
}
h2{
  font-family:serif;
  color:#11999E;
}
h3{
  font-family:  sans-serif;
  color:#11999E;
}
.sub{
  font-size:1.5rem;
  color:#11999E;
}
.heading{
  font-size:55px;
  color:#11999E;
}
.top{
  padding:20px;
  background-color: powderblue;
}
.top-cloud{
  position: absolute;
  top: 60px;
  left:350px;
}
.bottom-cloud{
  position:absolute;
  top:200px;
  right:350px;
}
.intro{
  width:30%;
  margin: auto;
  line-height:1.5
}
hr{
  width: 10%;
  border:dotted #EAF6F6;
  border-bottom: none;
}
.me{
  margin-top: 25px;
}
.middle{

}
.bottom{

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5
}
.cube{
  float: left;
  margin-right: 15;
}
.badminton{
  float: right;
  margin-right: 10;
}
.button {
   border-top: 1px solid #1b9ff2;
   background: #1d9df2;
   background: -webkit-gradient(linear, left top, left bottom, from(#10dce3), to(#1d9df2));
   background: -webkit-linear-gradient(top, #10dce3, #1d9df2);
   background: -moz-linear-gradient(top, #10dce3, #1d9df2);
   background: -ms-linear-gradient(top, #10dce3, #1d9df2);
   background: -o-linear-gradient(top, #10dce3, #1d9df2);
   padding: 16.5px 33px;
   margin: 10px;
   -webkit-border-radius: 31px;
   -moz-border-radius: 31px;
   border-radius: 31px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #21e08a;
   background: #21e08a;
   color: #278273;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
